* {
    padding: 0;
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/** Generic Fonts **/

h1 {
    font-size: 2.3em;
}

h1, h2, h3 {
    font-family: 'Philosopher', sans-serif;
    margin: 10px 0px;
}

p {
    margin-bottom: 10px;
    line-height: 2rem;
}

.kanji {
    font-family: 'Inria Sans', sans-serif;
    color: #C7B100;
}


/** Generic styles **/
body {
    
}

#title {
    text-align: center;
}

#header-img {
    display: block;
    margin-bottom: 100px;

    width: 100%;
    height: 500px;
    background-image: url("../assets/images/header_img.png");
    background-size: cover;
    
}

img {
    display: block;
    margin: 50px 0px;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


#intro-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#intro-text {
    width: 90%;
}

#quick-info {
    width: 30%;
    min-width: 100px;

    font-size: 1.2rem;

    border-style: solid;
    border-color: #C7B100;
    border-width: 2px;

}

/* WIDTH OF 350px */
#left {
    padding: 20px 100px 20px 100px;
    width: 200px;
    height: 100%;

    position: fixed;

    border-right: solid;
    border-color: #C7B100;
    border-width: 2px;

    background-color: #ECECEC;

}

#right {
    margin-left: 400px;
}


/** Specific styles **/
#quick-info ul {
    list-style-type: none;
}

#quick-info h4 {
    margin-top: 15px;
    margin-bottom: 5px;

    font-weight: bold;
}

#left div {
    margin-bottom: 2vh;
}

#left ul {
    list-style-type: none;
    padding-left: 0;
}

#left li {
    line-height: 2rem;
}

#left li:before {
    content: "☐"; /* or any other checkbox symbol you prefer */
    margin-right: 0.5em;
}

#left li.checked:before {
    content: "☑"; /* or any other checked checkbox symbol you prefer */
}


#right li {
    line-height: 2rem;
}

#right div {
    margin: 0px 50px;
    padding: 0px 25px 25px 25px;
}

.recipe ul, .recipe ol {
    margin-bottom: 25px;
}
